/* .App {
  text-align: left;
} */

header {
  padding-left: 10%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: #131313;
}

.film-card {
  padding: 20px;
  color: white;
  display: inline;
}

.film-row {
  overflow-x: scroll;
}

.App-link {
  color: #09d3ac;
}
