/* .App {
  text-align: left;
} */

header {
  padding-left: 10%;
  /* background-color: #282c34; */
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: #131313;
}

.film-card {
  padding: 20px;
  color: white;
  display: inline-block;
}

.film-card:hover {
  cursor: pointer;
  /* box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5); */
}

.row-title {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  height: 20px;
  display: flex;
}

.film-row {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.film-row::-webkit-scrollbar { width: 0 !important }

.App-link {
  color: #09d3ac;
}
